/* Estilos globais para barras de rolagem */
* {
  scrollbar-width: thin;  
  scrollbar-color: rgba(0,0,0,0.2) transparent;
}

/* Estilização da barra de rolagem para navegadores WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilo do polegar da barra de rolagem */
*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 8px;
}
/* Estilo do trilho da barra de rolagem */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Desativa animações quando o usuário prefere movimento reduzido */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;  /* Remove rolagem suave */
  }
}

/* Ativa rolagem suave quando o usuário não tem preferência por movimento reduzido */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;  /* Ativa rolagem suave */
  }
}

/* Classe para esconder elementos visualmente*/
.visually-hidden {
  position: absolute !important;
  width: 1px; 
  height: 1px;
  padding: 0; 
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
